#hero {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  background-image: linear-gradient(
      0deg,
      var(--color-linear-gradient),
      var(--color-linear-gradient)
    ),
    url("https://i.postimg.cc/W1tP3jxJ/52829-programacion.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}


#hero h1 {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 40px;
}

#hero p {
  color: var(--primary-text-color);
  text-align: center;
  font-size: 25px;
}
