/* CSS para el body - etiquetas principales */
* {
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: "DM Serif Display", serif;
}

header {
  background-color: rgba(12, 12, 12, 0.77);
}
header a {
  padding: 5px 12px;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

header a:hover{
  color:blueviolet;
}

.titulo_principal {
  font-size: 3em;
  color: whitesmoke;
}

.titulo_principal:hover{
  color: rgb(234, 231, 20);
}

.titulo_secundario {
  font-size: 2.5 em;
  margin-top:0;
}
.subtitulo {
  font-size: 1.25 em;
}
p {
  font-size: 0.75 em;
}
ul {
  list-style: none;
}

/* Estilos para el Header */
.container__header {
  max-width: 1400px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__logo {
  margin: 0;
  padding: 25px 30px;
  font-size: 1.8em;
  color: white;
}

.header__nav{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 10px;
}

.header__nav a{
  font-size: 0.8em;
}

/* Estilos sección hero - main */

#hero{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 80vh;
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) 
  ,url('https://i.postimg.cc/3NyrjKgK/hero.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center center;
}

#hero p{
  color: white;
  text-align: center;
}

/* Estilos para seccion productos */
#section_container-productos{
  text-align: center;
}

.container__productos{
  padding: 80px 12px;
  text-align: center;
  background-color: rgb(238, 231, 231);
}

.container__productos p{
  display: none;
}

.container__productos .carta{
  background-position: center center;
  background-size: cover;
  padding: 40px 0px;
  margin: 10px;
  border-radius: 15px;
}

.carta:first-child{
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) 
  ,url('https://i.postimg.cc/FRKqGVhk/mens-heavyweight-tee-sport-grey.jpg');
}

.carta:nth-child(2){
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) 
  ,url('https://i.postimg.cc/7ZYwnMFS/Publicaci-n-de-Instagram-Descuento-Black-Friday-Blanco-Moderno.png');
}

.carta:nth-child(3){
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  ) 
  ,url('https://i.postimg.cc/Pqy9mRnk/white-glossy-mug-11oz-donuts-61b.jpg');
}


.button-info {
  font-size: 1 em;
  font-weight: bold;
  padding: 6px 18px;
  border-radius: 7px;
  border: 2px solid black;
  color: white;
  background-color: blueviolet;
}

.button-info:hover {
  background-color: rgb(101, 47, 151);
}

/* estilos para el footer */
.div__footer-div{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}


.listado {
  list-style: none;
  margin: 0;
  padding: 0;
}

.div__footer p{
  padding: none;
  margin: 0;
  text-align: center;
}

/* para la versión web */

@media(min-width: 720px){
  header {
    position: fixed;
    width: 100%;
  }
  .container__header{
    flex-direction: row;
    justify-content: space-between;
  }

  .header__nav{
    flex-direction: row;
    padding-bottom: 0;
    padding-right: 25px;
  }

  /* seccion de productos */
  .productos{
    display: flex;
    justify-content: center;
  }

  .container__productos p{
    display: block;
    margin-bottom: 30px;
    color: white;
  }

  .container__productos .carta{
    padding:50px;
    /* background-size: 100% 150px; */
  }

}