#section_container-productos {
  text-align: center;
}

.container__productos {
  padding: 80px 12px;
  text-align: center;
  background-color: var(--primary-text-color);
}

.container__productos:first-child {
  color: var(--primary-text-color);
}

.container__productos p {
  display: none;
}


.carta h3:hover {
    color: var(--primary-highlight-color);  
}

.carta p:hover {
    color: var(--secondary-highlight-color);  
}

.container__productos .carta {
  background-position: center center;
  background-size: cover;
  padding: 40px 0px;
  margin: 10px;
  border-radius: 15px;
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      var(--color-linear-gradient),
      var(--color-linear-gradient)
    ),
    url("https://i.postimg.cc/65pp0MBK/mens-heavyweight-tee-sport-grey-front-2-61b4271a5c015.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      var(--color-linear-gradient),
      var(--color-linear-gradient)
    ),
    url("https://i.postimg.cc/8zWpwgsF/3.jpg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      var(--color-linear-gradient),
      var(--color-linear-gradient)
    ),
    url("https://i.postimg.cc/6Q0J2NFN/stickers-programadores.jpg");
}

.carta:nth-child(4) {
  background-image: linear-gradient(
      0deg,
      var(--color-linear-gradient),
      var(--color-linear-gradient)
    ),
    url("https://i.postimg.cc/FzRFxfJm/5.jpg");
}

.button-info {
  font-size: 1 em;
  font-weight: bold;
  padding: 6px 18px;
  border-radius: 7px;
  border: 2px solid black;
  color: var(--primary-text-color);
  background-color: var(--secondary-tex-color);
}

.button-info:hover {
  background-color: var(--secondary-tex-color);
}
